.color-info {
  border: 3px solid black
}
.color-info {
  margin-bottom: 16px;
}
.color-info {
  padding-left: 6px;
}
#about_blue {
  background-color: #6495ED;
}
#about_yellow {
  background-color: #FFEBCD;
}
#about_blue ul {
  color: blue;
}
#about_yellow ul {
  color: orange;
}
.important {
  font-size: 16px;
  font-weight: bold;
}
ul.nav li{
  background-color: red;
}
ul.nav li a {
  color: white;
}
